.cards {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  /* padding: 4rem; */
}

h1 {
  text-align: center;
}

.card1 {
  font-size: 100;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  height: 650px;
  width: 400px;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 0px 15px #39ff14;
  /* -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  background: #000;
}

.cards__item__pic-wrap {
  position: top;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

/* this is what does the blue label thingy */
/* .cards__item__badge::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  /* width: */
  /* max-width: calc((100%) - 40px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box; */
/* }  */

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

/* making hover affect on cards */
.cards__item:hover {
  transform: scale(1.05);
}

.cards__item__info {
  padding: 20px 30px 30px;
  overflow-y: auto;
}

.cards__item__text {
  color: #39ff14;
  font-size: 18px;
  line-height: 24px;
  overflow-wrap: break-word;
  white-space: 'pre-wrap'; 
  margin: 0 auto;
  font-weight: 200;
}

.card1__text {
  line-height: 2;
  font-size: 25px;
} 
.card2__text {
  font-size: 23px;
} 

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}